@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components{
    .underline-fade{
        @apply underline decoration-2 decoration-black underline-offset-4 transition-all duration-500 hover:decoration-white;
    }
    .list-theme{
        @apply text-slate-400 duration-200 hover:text-white
    }
}

::-webkit-scrollbar {
    width: 10px;
  }
  

::-webkit-scrollbar-track {
    background: black; 
}
   
::-webkit-scrollbar-thumb {
    background: lightgrey; 
    border-color: white;
    border-radius: 10px;

}
::-webkit-scrollbar-thumb:hover {
    background: grey; 
}